@import "../../../assets/styles/project-variables";
@import "../../../assets/styles/mixins";

.request-сreation {
  &__form {
    width: 500px;

    .form-item {
      margin-bottom: 20px;
    }
  }

  &__date {
    display: flex;
    gap: 8px;
  }

  &__comment {
    display: grid;

    .form-control {
      min-height: 96px !important;
    }

    span {
      margin-top: 4px;
      width: 100%;
      font-size: 12px;
      line-height: 16px;
      color: var(--text-secondary);
      text-align: end;
    }
  }

  &__qr-button {
    @include text-inter-14-m;
  }
}