.input-wrapper {
  position: relative;
  width: 100%;

  &::before {
    content: url("../../../assets/images/icons/calendar.svg");;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    right: 6px;
    z-index: 2;
  }

  &::after {
    position: absolute;
    width: 80%;
    top: calc(50% - 9px);
    left: 8px;
    color: rgba(0, 0, 0, .56) !important;
    font-size: 14px !important;
    line-height: 18px !important;
    background: var(--white);
    padding-left: 4px;
    padding-right: 4px;
  }

  &.creation::after {
    content: "Дата создания";
  }

  &.access-from::after {
    content: "Дата доступа: от";
  }

  &.access-to::after {
    content: "до";
  }

  &.hidden::after {
    content: "";
  }
}


input[type="date"] {
  position: relative;
  padding-right: 8px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 3;
}