@import "../../../assets/styles/project-variables";
@import "../../../assets/styles/mixins";

.mkd-page {
  width: 100%;

  &__content {
    width: calc(100% - var(--aside-left-width));
    height: calc(100% - 82px);
    padding: 28px;
  }

  &__info {
    display: flex;
    justify-content: start;
    gap: 5px;
  }

  &__levels {
    width: 439px;
    height: 654px;
    background-image: url("../../../assets/images/mkd.svg");
    background-repeat: no-repeat;
    position: relative;
    flex-shrink: 0;
  }

  &__level {
    border-radius: 4px;
    border: 2px solid var(--neutral-6);
    position: absolute;
    width: 356px;

    &_roof {
      height: 84px;
      top: 14px;
      left: 43px;
    }

    &_floor {
      height: 62px;
      top: 418px;
      left: 43px;
    }

    &_basement {
      height: 52px;
      top: 586px;
      left: 43px;
    }

    &_incident {
      border: 1px solid red;
    }
  }

  &__detectors {
    display: flex;
    gap: 9px;
    position: absolute;

    &_roof {
      top: 30px;
      left: 133px;
    }

    &_floor {
      top: 17px;
      left: 133px;
    }

    &_basement {
      top: 14px;
      left: 133px;
    }
  }

  &__camera {
    position: absolute;
    transform: rotate(120deg);

    &_roof {
      top: 3px;
      right: 31px;
    }

    &_floor {
      top: 409px;
      right: 31px;
    }

    &_basement {
      top: 575px;
      right: 31px;
    }
  }

  &__video-items {
    height: 654px;
    width: calc(100% - 444px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__video {
    height: 206px;
    border-radius: 4px;
    border: 1px solid var(--neutral-6);
    overflow-x: scroll;
    padding: 8px 16px;
  }

  &__video-title {
    @include title-inter-16-m;
  }

  &__video-images {
    display: flex;
    gap: 16px;
    margin-top: 8px;

    img {
      width: 230px;
      height: 150px;
    }
  }

  &__table {
    margin-top: 63px;
  }
}