@import "../../../assets/styles/project-variables";
@import "../../../assets/styles/mixins";

.main {
  width: 100%;
  max-width: calc(var(--max-width) - var(--aside-left-width));
  height: 100%;
  background-color: transparent;
  background-image: url("../../../assets/images/map.png");
  background-repeat: no-repeat;
  background-size: auto 900px;
  position: relative;
  overflow: hidden;

  .mkd-items {
    .mkd {
      position: absolute;
      display: flex;
      align-items: center;
      cursor: pointer;

      img.mkd__pin-image {
        width: 24px;
        height: 24px;
      }

      .mkd__address {
        @include text-inter-14-reg;
        background-color: var(--white);
        padding: 4px 8px;
        border: 1px solid #19191924;
        border-radius: 6px;
        margin-bottom: 0;
        margin-left: 4px;
      }
    }

    .mkd.mkd_incident .mkd__address {
      background-color: var(--incident);
    }
  }

  .mkd-table {
    width: 312px;
    background-color: var(--white);
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
