@import "project-variables";
@import "mixins";

.accordion {
  --bs-accordion-btn-active-box-shadow: inset -3px 0px 0px #99CEFF;
  --bs-accordion-color: var(--text-primary);
  --bs-accordion-border-color: transparent;
  --bs-accordion-btn-icon: url("../images/icons/aside-left/arrow-down.svg");
  --bs-accordion-btn-icon-width: 10px;
  --bs-accordion-btn-icon-height: 9px;
  --bs-accordion-btn-active-icon: url("../images/icons/aside-left/arrow-down.svg");
  --bs-accordion-btn-focus-box-shadow: none;

  .accordion-button_hide-icon {
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
  }

  .accordion-button {
    padding: 8px 8px;
    margin-bottom: 4px;
    color: var(--text-primary);
    @include text-inter-14-reg;
  }

  .accordion-button:not(.collapsed) {
    box-shadow: inset -3px 0px 0px var(--bs-primary);
    background-color: var(--active);
  }

  .accordion-body {
    padding: 0;
  }
}