// colors
$primary: #00A5C3 !default;

:root {
  // colors
  --bs-primary-rgb: rgb(0,165,195);
  --bs-primary: #00A5C3;
  --white: #FFFFFF;
  --active: #EAFCFF;
  --black: #000000;
  --disabled: #E9ECEF;
  --danger: #FF4D4F;
  --bg-danger: #FF4D4F10;
  --neutral: #BBC1C7;
  --neutral-5: #D9D9D9;
  --neutral-6: #BFBFBF;
  --neutral-7: #8C8C8C;
  --progress: #FAC031;
  --finished: #26CD58;

  // text colors
  --text-primary: #3A3F48;
  --text-secondary: #616979;

  // width and height
  --min-height: 900px;
  --min-width: 1010px;
  --max-width: 1920px;
  --header-height: 56px;
  --aside-left-width: 200px;
  --content-width: 100%;
}
