@import "../../../assets/styles/project-variables";
@import "../../../assets/styles/mixins";

.alertCustom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 12px 12px 10px;
  gap: 8px;

  position: absolute;
  //width: 191px;
  //height: 48px;
  left: calc(50% - 191px / 2);
  bottom: 20px;

  background: #1D2023;
  border-radius: 8px;

  &_text {
    @include title-inter-16-m;
    color: var(--white);
    max-width: 250px;
  }

  &_image {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}